.hoverOverlay {
  max-width: 306px;
  max-height: 62px;
  position: absolute;
}

.hoverArea {
  max-width: 306px;
  max-height: 62px;
  position: absolute;
}

.hoverContainer {
  width: 300px;
  height: 62px;
  padding: 5px; 
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.mainHoverBtn, .optionalHoverBtn {
  flex: 1.5 2;
  padding: 10px;
}

.mainHoverBtn {
  height: 28px;
  width: 28px;
  justify-content: flex-start;
}

.optionalHoverBtn {
  height: 22px;
  width: 55px; 
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.optionalBtn {
  background-color: #ffffff;
  outline: #333333;
  border-radius: 20%;
  height: 22px;
  width: auto;	
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  position: relative;
  display: inline-block;
}

.optionalIcon {
  width: 12px;
  height: 12px; 
  cursor: pointer;
}