.optionalBtn {
  background-color: #ffffff;
  outline: #333333;
  border-radius: 20%;
  width: auto;
  height: 22px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  position: relative;
}

.optionalIcon {
  width: 12px;
  height: 12px; 
  cursor: pointer;
}

.moreOptions {
  position: absolute;
}

.moreOptionsBtn {
  background-color: #ffffff;
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #e5e5e5;
  color: #333333;
  width: 120px;
  height: 28px;
  padding-top: 1px;
  padding-left: 3px;
  padding-right: 28px;
  padding-bottom: 2px;
}

.moreOptionsBtn:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}